
body, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-family: 'Sixtyfour', sans-serif;
}

.title h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 10px; /* space between grid items */
  padding: 10px;
  width: 100%; max-width: 100%
}

.grid-item {
  background-color: #f0f0f0; /* light grey background */
  border: 1px solid #ccc; /* grey border */
  padding: 20px;
  text-align: center;
  font-size: 20px;
  overflow: hidden; /* ensures the content does not overflow the grid area */
}
.grid-item img {
    width: 100%; max-width: 100%; /* ensures the image is not wider than the grid item */
    max-height: 100%; /* ensures the image is not taller than the grid item */
    object-fit: contain; /* maintains the aspect ratio of the image */
  }