model-viewer {
  width: 100vw !important;
  /* 100% of the viewport width */
  height: 100vh !important;
  /* 100% of the viewport height */
}

body, h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    font-family: 'Sixtyfour', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}
.grid-item2 {
    width: 100%;
}
img {
    width: 100%;
    height: auto;
}

.title h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: auto auto; /* 2 rows */
  gap: 10px; /* space between grid items */
  padding: 10px;
  width: 100%; max-width: 100%
}
.image-container {
  display: flex;
  justify-content: center;
}
.image-container img {
  max-width: 50%; /* Each image can take up to half of the container's width */
  height: auto; /* Maintain the aspect ratio of the images */
  margin-right: 10px; /* Adjust spacing between images */
}

.grid-item {
  background-color: #f0f0f0; /* light grey background */
  border: 1px solid #ccc; /* grey border */
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.grid-item img {
    width: 100%; max-width: 100%; 
  }

#grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(4, 12.5vh); /* 4 rows */
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 50vh; /* Remaining 50% of the viewport height */
  }